services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    restart: always
    healthcheck:
      test: [ "CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: always
    depends_on:
      backend:
        condition: service_healthy
